<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light static-top">
        <div>
            <a class="navbar-brand" href="{% url 'index'}"></a>
            <a class="navbar-brand" href="{% url 'equipo'}">Equipo</a>
            <a class="navbar-brand" href="{% url 'camisetas'}">Camisetas</a>
            <a class="navbar-brand" href="{% url 'copas'}">Copas</a>
        </div>
    </nav>

    <form action="/camisetasForms/" method="POST">{% csrf_token %}
        <p>Nombre Equipo: <input type="text" name="nom_equipo"></p>
        <p>Año camiseta: <input type="number" name="ano_camiseta"></p>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>