<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light static-top">
        <div>
            <a class="navbar-brand" href="{% url 'index'}"></a>
            <a class="navbar-brand" href="{% url 'equipo'}">Equipo</a>
            <a class="navbar-brand" href="{% url 'camisetas'}">Camisetas</a>
            <a class="navbar-brand" href="{% url 'copas'}">Copas</a>
        </div>
    </nav>





    <form action="/copasForms/" method="GET">
        
        <input type="number" name="num_copa" id="num_copa">
        <input type="submit" value="Buscar">

    </form>

    <p>Estamos buscando el: {{num_copa}}</p>

    {% if copa %}

    <ul>
        {% for copa in copa %}
          <li>{{copas.copa}}</li>
          <li>{{copas.num_copa}}</li>
        {% endfor %}


    </ul>

    {% endif %}
</body>
</html>