<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipos</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light static-top">
        <div>
            <a class="navbar-brand" href="{% url 'index'}"></a>
            <a class="navbar-brand" href="{% url 'equipos.html'}">Equipos</a>
            <a class="navbar-brand" href="{% url 'camisetas.html'}">Camisetas</a>
            <a class="navbar-brand" href="{% url 'copas.html'}">Copas</a>
        </div>
    </nav>


    <form action="/equipoForms/" method="POST">{% csrf_token %}
        <p>Equipo: <input type="text" name="equipo"></p>
        <p>Año: <input type="text" name="Año"></p>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>